.full-page{
    background-image: url('../../assets/images/spaceBG.jpg');
}


.logo img {
    height:55px;
    width: 300px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: rgba($color: #28083b, $alpha: 0.5);
}

.action-buttons img{
    margin-top: 15px;
    height: 30px;
    width: 30px;
}

.mixer{
    margin: auto;
    margin-top: 15%;
    height: 300px;
    width: 80%;
    background-color: rgba($color: #8173d8, $alpha: 0.6);
    border: 2px solid white;
    border-radius: 6px;
}

.samples input{
    margin-top: 9px;
    height: 20px;
    width: 20px;
    margin-bottom: 12px;
    font-family: 'Apple Chancery', cursive;
    font-size: 12px;
    color:  rgb(10, 11, 63);
    border: 2px rgba($color: #e4e3e3, $alpha: 0.6);
}

#sample-control-panel{
    display: flex;
    height:40px;
    width: 100%;
    background-color: white;
    border-bottom: 30px  black;
    border: 1px;
}

.sequencer{
    height: 260px;
    width: 90%;
    margin-left: 10%;
    border: 2px white;
    background-color: rgba($color: #060505, $alpha: 0.3);
}

.sample-control-panel, img{
    margin-left: 10px;
    margin-top: 4px;
    height: 30px;
    width: 30px;
}

.percussion-selector{
    display:flex;
    flex-direction: column;
    height:260px;
    width:100%;
    background-color: rgba($color: #f7f7f7, $alpha: 0.4);
}
.percussion-selector > div {
    display:flex;
    justify-content: space-evenly;
}

.sequencer input {
    appearance: none;
    overflow: hidden;
    width: 2%;
    height: 3vh;
    border-radius: 4px;
}

.sequencer input:hover {
    animation: increase-checkboxes 0.5s ease-in-out both;
}

.sequencer input:checked {
    animation: selected-input 0.4s ease-in-out both;
}

@keyframes increase-checkboxes {
    to {
        border: 5px solid blue;
        width: 2.5%;
        height: 3.5vh;
    }
}

@keyframes selected-input{
    from{
        border: 5px solid blue;
        width: 2.5%;
        height: 3.5vh;
    }
    to {
        width: 2%;
        height: 3vh;
        background: rgb(153,164,203);
        background-image: url("../../assets/images/musicNote.png");
        background-repeat: no-repeat;
    }
}


.evens{
    background: red;
}
.odds{
    background: blue;
}