.full-page{
    background-image: url('../../assets/images/spaceBG.jpg');
    background-repeat: no-repeat;
}

.logo img {
    height:57px;
    width: 300px;
}

.play-pause{
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 30px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: rgba($color: #28083b, $alpha: 0.5);
}

.action-buttons {
    margin-right: 15px;
}
.action-buttons img{
    margin-top: 15px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.mixer{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    height: 300px;
    width: 80%;
    background-color: rgba($color: #8173d8, $alpha: 0.6);
    border: 2px solid white;
    border-radius: 6px;
}

.samples input{
    font-family: 'Apple Chancery', cursive;
    color:  rgb(10, 11, 63);
    border: 2px rgba($color: #e4e3e3, $alpha: 0.6);
}

#sample-control-panel{
    display: flex;
    height:40px;
    background-color: white;

}

.sequencer{
    display: flex;
    height: 260px;
    border: 2px white;
    background-color: rgba($color: #060505, $alpha: 0.3);
}

.sample-control-panel > img{
    margin-left: 10px;
    margin-top: 4px;
    height: 30px;
    width: 30px;
}

.percussion-selector{
    height:260px;
    width:100%;
    background-color: rgba($color: #f7f7f7, $alpha: 0.5);
}
.percussion-selector > div {
    display:flex;
    margin-top: .2vh;
    justify-content: space-evenly;
}

.sequencer input {
    appearance: none;
    overflow: hidden;
    width: 2%;
    height: 3vh;
    border-radius: 4px;
}

.sequencer input:hover {
    animation: increase-checkboxes 0.5s ease-in-out both;
}

.sequencer input:checked {
    animation: selected-input 0.4s ease-in-out both;
}

@keyframes increase-checkboxes {
    to {
        border: 2px solid white;
        width: 2.5%;
        height: 3.5vh;
    }
}

@keyframes selected-input{
    from{
        border: 2px solid white;
        width: 2.5%;
        height: 3.5vh;
    }
    to {
        width: 2%;
        height: 3vh;
        border: 1px solid #070209;
        background: #e8adfc;
        background-image: url("../../assets/images/musicNote.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.evens{
    background: #550015;
}
.odds{
    background: #001f3d;
}

.sequencer > *{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
